<%- include('./layout/Header') %> <%- include('./layout/Navbar') %>
<div class="showcase">
  <h1>About <span class="green-text">Express Diary</span></h1>
  <p>An amazing app made with Express</p>
  <p>Version 1.0</p>
</div>
<%- include('./layout/Footer') %>
