<%- include('./layout/Header') %> <%- include('./layout/Navbar') %>

<div class="add-container">
    <div class="add">
        <p>Add to Diary</p>
        <a href="/add">ADD</a>

    </div>

</div>


<%- include('./layout/Footer') %>
