<%- include('./layout/Header') %> 
    <%- include('./layout/Navbar') %>

<div class="showcase">
  <h1>Welcome to Express <span class="green-text">Diary</span></h1>
  <p>Record your daily life</p>
  <a href="">Open Your Express Diary</a>
</div>

<%- include('./layout/Footer') %>
