<header>
    <div class="container">
        <a href="/" class="logo">DIARY <span class="green-text">RUYJR <span class="logo">- Full Stack Final Project</span>

        </span></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/diary">Go to Diary</a></li>
            </ul>
        </nav>

    </div>
</header>